<?xml version='1.0' encoding='utf-8'?>
<widget id="org.sccwrp.hello-world" version="1.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Hello World Template</name>
    <description>
	Hello World Template
    </description>
    <author>
        DAUG
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.core.geolocation" />
</widget>
